In [73]:
import pandas as pd
import numpy as np

In [74]:
data = pd.read_csv('~/registrar-recommender/00_data/2013-2020/econ.csv')
data = data.dropna(subset=['Class Year'])

In [75]:
# set Class Year Number as students' class year
data['Class Year Number'] = 0
data.loc[data['Class Year'] == 'First Year Fall Term', 'Class Year Number'] = 1
data.loc[data['Class Year'] == 'First Year Spring Term', 'Class Year Number'] = 1
data.loc[data['Class Year'] == 'Second Year Fall Term', 'Class Year Number'] = 2
data.loc[data['Class Year'] == 'Second Year Spring Term', 'Class Year Number'] = 2
data.loc[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number'] = 3
data.loc[data['Class Year'] == 'Third Year Spring Term', 'Class Year Number'] = 3
data.loc[data['Class Year'] == 'Fourth Year Fall Term', 'Class Year Number'] = 4
data.loc[data['Class Year'] == 'Fourth Year Spring Term', 'Class Year Number'] = 4

In [76]:
data = data.rename(columns={"Calculation ID": "ID"})
# save class years separately 
data_1 = data[data['Class Year Number'] == 1]
# data_11 = data[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number']
# data_12 = data[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number']
data_2 = data[data['Class Year Number'] == 2]
data_3 = data[data['Class Year Number'] == 3]
data_4 = data[data['Class Year Number'] == 4]

# df_1 = data_1.groupby('Descr').filter(lambda x : len(x)>5)
# df_2 = data_2.groupby('Descr').filter(lambda x : len(x)>5)

In [77]:
# create sparse matrix by each student
ohe1_ = pd.get_dummies(data_1.Descr).groupby(data_1.ID).sum().reset_index()
ohe2_ = pd.get_dummies(data_2.Descr).groupby(data_2.ID).sum().reset_index()
ohe3_ = pd.get_dummies(data_3.Descr).groupby(data_3.ID).sum().reset_index()
ohe4_ = pd.get_dummies(data_4.Descr).groupby(data_4.ID).sum().reset_index()
set1 = set(ohe1_['ID'].values)
set2 = set(ohe2_['ID'].values)
set3 = set(ohe3_['ID'].values)
set4 = set(ohe4_['ID'].values)
set_difference1 = set1-set2
set_difference2 = set2-set1

{19857.1625,
 20331.1125,
 20335.0625,
 20342.025,
 20981.175,
 21217.5375,
 21230.4125,
 21271.325,
 21665.2875,
 21860.3,
 22092.5,
 22164.3625,
 22190.2375,
 22240.925,
 22241.15,
 22249.7,
 22254.55,
 22765.1375,
 22908.8,
 22916.8875,
 22983.0625,
 23025.85,
 23039.4625,
 23042.2375,
 23068.3125,
 23068.925,
 23311.65,
 23313.3125,
 23313.8125,
 23320.9125,
 23321.5,
 23327.775,
 23327.9375,
 23335.1375,
 23339.4625,
 23339.7125,
 23341.0375,
 23341.6375,
 23344.3625,
 23345.375,
 23346.15,
 23350.1,
 23350.9375,
 23351.1,
 23351.325,
 23354.1875,
 23354.3125,
 23354.875,
 23355.875,
 23356.2625,
 23356.525,
 23357.35,
 23357.625,
 23359.05,
 23359.3375,
 23372.2375,
 23372.5625,
 23372.9,
 23373.2125,
 23373.2375,
 23374.1375,
 23374.4,
 23375.2875,
 23387.275,
 23387.5625,
 23389.5125,
 23389.9625,
 23397.4,
 23397.5625,
 23399.675,
 23402.3125,
 23422.975,
 23433.6375,
 23459.875,
 23461.3875,
 23463.275,
 23480.5875,
 23484.25,
 23486.6875,
 23489.0625,
 23489.2,
 23493.375,
 23495.3125,
 23495.7125,
 23513.775,
 23515.0125,
 23519.7625,
 23521.7625,
 23529.375,
 23529.4375,
 23533.5625,
 23542.6875,
 23543.075,
 23550.125,
 23551.4,
 23552.3125,
 23552.4375,
 23552.6625,
 23555.6625,
 23556.475,
 23559.725,
 23560.0375,
 23564.9875,
 23567.225,
 23569.175,
 23569.2,
 23571.6875,
 23573.8375,
 23574.425,
 23576.0,
 23583.1125,
 23584.925,
 23585.2,
 23588.5,
 23590.3125,
 23591.0875,
 23591.575,
 23595.625,
 23598.65,
 23639.35,
 23641.0625,
 23642.1,
 23649.1125,
 23659.1125,
 23659.4125,
 23663.1375,
 23672.65,
 23672.9875,
 23679.2625,
 23681.2875,
 23682.7375,
 23692.7875,
 23696.5625,
 23698.0,
 23707.325,
 23709.125,
 23713.9125,
 23716.675,
 23720.5,
 23724.4625,
 23724.5625,
 23728.025,
 23728.4,
 23733.0,
 23745.5125,
 23747.7625,
 23749.825,
 23750.45,
 23750.7,
 23755.525,
 23759.9875,
 23761.125,
 23762.425,
 23765.2125,
 23769.4625,
 23840.875,
 23841.425,
 23883.15,
 23897.325,
 23922.2125,
 24010.8125,
 24016.3875,
 24016.725,
 24021.75,
 24028.1875,
 24033.8125,
 24034.85,
 24036.6125,
 24043.6,
 24043.6875,
 24044.1875,
 24047.475,
 24062.5,
 24082.2625,
 24123.55,
 24136.425,
 24166.9625,
 24254.2625,
 24261.3,
 24263.0,
 24283.3,
 24305.7625,
 24314.3375,
 24315.65,
 24324.0875,
 24327.175,
 24328.5625,
 24329.0875,
 24417.7,
 24443.45,
 24446.9875,
 24452.275,
 24636.3375,
 24639.2375,
 24639.35,
 24640.6625,
 25485.325,
 26260.9375,
 26462.45,
 26565.4125}

In [109]:
ohe1_f = ohe1_[~ohe1_['ID'].isin(set_difference1)]
ohe2_f = ohe2_[~ohe2_['ID'].isin(set_difference2)]

In [79]:
len(ohe2_f)

1267

In [80]:
# get all courses name from each year
row_t1 = data_1['Descr'].value_counts().index
row_t2 = data_2['Descr'].value_counts().index
row_t3 = data_3['Descr'].value_counts().index
row_t4 = data_4['Descr'].value_counts().index

In [81]:
# set students' ID as index, instead of a default number.
ohe1t_1 = ohe1_f.set_index(ohe1_f.columns[0])
ohe2t_1 = ohe2_f.set_index(ohe2_f.columns[0])
# ohe2tf_1 = ohe2f_.set_index(ohe1_.columns[0])
# ohe3t_1 = ohe3_.set_index(ohe1_.columns[0])
# ohe4tf_1 = ohe4f_.set_index(ohe1_.columns[0])

In [82]:
transt1_2 = ohe1t_1.T.dot(ohe2t_1)

In [83]:
transt1_2_sub = transt1_2.loc[row_t1]

In [84]:
transt1_2m = transt1_2_sub[row_t2]
row_sum = transt1_2m.sum(axis=1).to_frame()
transt1_2mc = transt1_2m.div(transt1_2m.sum(axis=1), axis=0)

In [85]:
transt1_2mc_r = transt1_2mc.reset_index()
transt1_2mc_m = pd.melt(transt1_2mc_r, 
            id_vars='index', 
            value_vars=list(transt1_2mc_r.columns[1:]), # list of days of the week
            var_name='post_class', 
            value_name='prob')
trans1_2 = transt1_2mc_m[transt1_2mc_m['prob']>0.1]

In [87]:
trans1_2

,index,post_class,prob
162,INDEPENDENT STUDY,INTERMEDIATE MICROECONOMICS II,0.125000
204,"SPORTS, ECONOMICS AND POLITICS",INTERMEDIATE MICROECONOMICS II,0.107143
263,1ST-YR SEM LIT (TOP),INTERMEDIATE MICROECONOMICS II,0.102564
291,PRISONER'S DILEMMA/DISTR JUST,INTERMEDIATE MICROECONOMICS II,0.105263
307,CONTEMPORARY NOVEL,INTERMEDIATE MICROECONOMICS II,0.142857
...,...,...,...
1399910,METAPHYSICS,FALL INDEPENDENT STUDY,0.166667
1400054,SPECIAL TOPICS IN PHILOSOPHY,FALL INDEPENDENT STUDY,0.166667
1403806,SPANISH ENGLISH TRANSLATION,THE RUSSIAN INTELLIGENTSIA,0.125000
1403934,STRATEGY AND POLITICS,THE RUSSIAN INTELLIGENTSIA,0.125000
1404034,GTWY SEM: PREMODERN DISEASE,THE RUSSIAN INTELLIGENTSIA,0.125000

In [88]:
ego = set(trans1_2['index'].value_counts().index)

In [89]:
alter = set(trans1_2['post_class'].value_counts().index)

In [90]:
len(ego.union(alter))

1069

In [91]:
class_list1_2=list(ego.union(alter))

In [92]:
df_class = pd.DataFrame(class_list1_2,columns=['class_name'])

In [93]:
df_class.index = np.arange(1, len(df_class) + 1)

In [94]:
df_attr1_2_econ = df_class.reset_index()

In [95]:
df_attr1_2_econ.to_csv('class1to2_econ_attr.csv')

In [96]:
class_map = pd.Series(df_class.index.values,index=df_class.class_name).to_dict()

In [97]:
df_attr1_2_econ

      index                 class_name
0         1   NEUROSCIENCE AND READING
1         2           FRENCH PHONETICS
2         3          BASIC ANALYSIS II
3         4  IMMIGRATION AND ELECTIONS
4         5       ELEMENTARY ITALIAN 2
...     ...                        ...
1064   1065                  THE 1960S
1065   1066          THE DYNAMIC EARTH
1066   1067       BEHAVIORAL ECONOMICS
1067   1068             THE NEW NATION
1068   1069            DIGITAL IMAGING

[1069 rows x 2 columns]

In [98]:
trans1_2["index"] = trans1_2["index"].map(class_map) 
trans1_2["post_class"] = trans1_2["post_class"].map(class_map)

/Users/josephlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/josephlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [99]:
trans1_2

         index  post_class      prob
162        490         516  0.125000
204        699         516  0.107143
263        193         516  0.102564
291       1056         516  0.105263
307        652         516  0.142857
...        ...         ...       ...
1399910    160         453  0.166667
1400054     79         453  0.166667
1403806     90         495  0.125000
1403934   1041         495  0.125000
1404034    473         495  0.125000

[3104 rows x 3 columns]

In [105]:
trans1_2.to_csv('class1to2_econ_node.csv')

In [127]:
#semester 2 to semester 3 
set_difference2_3 = set2-set3
set_difference3_2 = set3-set2
ohe23_f = ohe2_[~ohe2_['ID'].isin(set_difference2_3)]
ohe32_f = ohe3_[~ohe3_['ID'].isin(set_difference3_2)]
ohe2t_1f = ohe23_f.set_index(ohe23_f.columns[0])
ohe3t_1f = ohe32_f.set_index(ohe32_f.columns[0])
transt2_3 = ohe2t_1f.T.dot(ohe3t_1f)

In [128]:
transt2_3_sub = transt2_3.loc[row_t2]
transt2_3m = transt2_3_sub[row_t3]
transt2_3mc = transt2_3m.div(transt2_3m.sum(axis=1), axis=0)
transt2_3mc_r = transt2_3mc.reset_index()
transt2_3mc_m = pd.melt(transt2_3mc_r, 
            id_vars='index', 
            value_vars=list(transt2_3mc_r.columns[1:]), # list of days of the week
            var_name='post_class', 
            value_name='prob')
trans2_3 = transt2_3mc_m[transt2_3mc_m['prob']>0.1]

In [129]:
trans2_3

,index,post_class,prob
36,BIO BASES OF BEHAVIOR,INTRODUCTION TO ECONOMETRICS,0.105727
77,DUKE-ADM ST ABR: ADV TOP,INTRODUCTION TO ECONOMETRICS,0.105590
97,CONNECTIONS IN ENERGY: PROJECT,INTRODUCTION TO ECONOMETRICS,0.110000
100,UNDERSTANDING FIN CRISES,INTRODUCTION TO ECONOMETRICS,0.117117
112,ABNORMAL PSYCHOLOGY,INTRODUCTION TO ECONOMETRICS,0.116883
...,...,...,...
1303692,SENIOR SEMINAR IN SPC,INTRO TO POLITICAL PHILOSOPHY,0.111111
1303998,ECON GROWTH & DEV POLICY,INTRO TO POLITICAL PHILOSOPHY,0.111111
1304113,POLITICAL REGIME TRANSITIONS,INTRO TO POLITICAL PHILOSOPHY,0.111111
1312431,MULTIMEDIA DOCUMENTARY,SIGNATURE COURSE (TOP),0.125000
1317348,NARRATIVE AND MORAL CRISIS,"AMER LIT, COLD WAR/ AFTER",0.125000

In [130]:
ego2 = set(trans2_3['index'].value_counts().index)
alter2 = set(trans2_3['post_class'].value_counts().index)
class_list2_3=list(ego2.union(alter2))
df_class2 = pd.DataFrame(class_list2_3,columns=['class_name'])
df_class2.index = np.arange(1, len(df_class2) + 1)
df_attr2_3_econ = df_class2.reset_index()
df_attr2_3_econ.to_csv('class2to3_econ_attr.csv')

In [131]:
class_map2 = pd.Series(df_class2.index.values,index=df_class2.class_name).to_dict()
trans2_3["index"] = trans2_3["index"].map(class_map2) 
trans2_3["post_class"] = trans2_3["post_class"].map(class_map2) 

trans2_3.to_csv('class2to3_econ_node.csv')

/Users/josephlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/josephlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
trans2_3

         index  post_class      prob
36         284         616  0.105727
77         659         616  0.105590
97         683         616  0.110000
100       1094         616  0.117117
112          7         616  0.116883
...        ...         ...       ...
1303692    214         920  0.111111
1303998    944         920  0.111111
1304113    199         920  0.111111
1312431    461         122  0.125000
1317348    164         903  0.125000

[3253 rows x 3 columns]

In [134]:
data2 = pd.read_csv('~/registrar-recommender/00_data/2013-2020/courses_and_degrees_2013_2020.csv')

/Users/josephlee/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [111]:
data = data2.dropna(subset=['Class Year'])

In [112]:
# set Class Year Number as students' class year
data['Class Year Number'] = 0
data.loc[data['Class Year'] == 'First Year Fall Term', 'Class Year Number'] = 1
data.loc[data['Class Year'] == 'First Year Spring Term', 'Class Year Number'] = 1
data.loc[data['Class Year'] == 'Second Year Fall Term', 'Class Year Number'] = 2
data.loc[data['Class Year'] == 'Second Year Spring Term', 'Class Year Number'] = 2
data.loc[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number'] = 3
data.loc[data['Class Year'] == 'Third Year Spring Term', 'Class Year Number'] = 3
data.loc[data['Class Year'] == 'Fourth Year Fall Term', 'Class Year Number'] = 4
data.loc[data['Class Year'] == 'Fourth Year Spring Term', 'Class Year Number'] = 4

In [113]:
data = data.rename(columns={"Calculation ID": "ID"})
# save class years separately 
data_1 = data[data['Class Year Number'] == 1]
# data_11 = data[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number']
# data_12 = data[data['Class Year'] == 'Third Year Fall Term', 'Class Year Number']
data_2 = data[data['Class Year Number'] == 2]
data_3 = data[data['Class Year Number'] == 3]
data_4 = data[data['Class Year Number'] == 4]

# df_1 = data_1.groupby('Descr').filter(lambda x : len(x)>5)
# df_2 = data_2.groupby('Descr').filter(lambda x : len(x)>5)

In [114]:
# create sparse matrix by each student
ohe1_ = pd.get_dummies(data_1.Descr).groupby(data_1.ID).sum().reset_index()
ohe2_ = pd.get_dummies(data_2.Descr).groupby(data_2.ID).sum().reset_index()
ohe3_ = pd.get_dummies(data_3.Descr).groupby(data_3.ID).sum().reset_index()
ohe4_ = pd.get_dummies(data_4.Descr).groupby(data_4.ID).sum().reset_index()
set1 = set(ohe1_['ID'].values)
set2 = set(ohe2_['ID'].values)
set3 = set(ohe3_['ID'].values)
set4 = set(ohe4_['ID'].values)
set_difference1 = set1-set2
set_difference2 = set2-set1

set_difference1

{24588.25,
 23354.45,
 24604.3625,
 24604.4125,
 24625.6375,
 24626.05,
 24634.325,
 24636.3375,
 24637.8125,
 24637.9,
 24639.2375,
 24638.375,
 24639.35,
 24640.6625,
 24641.4875,
 24643.625,
 24650.85,
 8288.3375,
 24747.375,
 24749.125,
 24767.7125,
 24777.5875,
 24778.225,
 24793.15,
 24837.275,
 23356.075,
 23356.2625,
 23356.325,
 24859.2,
 23395.65,
 24936.8375,
 25018.05,
 23396.2125,
 23396.775,
 23397.8,
 23397.9875,
 25133.7,
 25146.9625,
 23397.025,
 25186.225,
 25211.3,
 25226.4125,
 25238.15,
 25240.375,
 25242.3875,
 25281.3625,
 25287.775,
 8919.2,
 25330.95,
 25339.775,
 25341.7875,
 25410.0375,
 25485.325,
 25629.575,
 25677.7875,
 23398.3,
 23398.05,
 23398.1125,
 17544.3625,
 25743.6125,
 17564.35,
 25767.5375,
 25786.275,
 25841.0625,
 17669.6375,
 25954.525,
 26068.1625,
 26087.65,
 26242.0125,
 26260.9375,
 18110.4375,
 18183.7,
 23356.4875,
 23356.8,
 23356.8625,
 23356.1125,
 18203.2625,
 23395.375,
 23395.5625,
 23395.875,
 26452.825,
 26462.45,
 26464.1125,
 18344.6125,
 23396.0,
 23396.25,
 23396.75,
 26565.4125,
 26650.725,
 23397.5,
 23397.5625,
 23397.9375,
 18517.5625,
 18595.725,
 23398.0,
 18623.475,
 23535.0,
 6970.9625,
 23399.125,
 23399.1875,
 23311.375,
 18981.4,
 23312.3375,
 27178.2,
 23312.4125,
 23312.55,
 23312.85,
 23312.8875,
 23313.9375,
 23313.95,
 23313.225,
 23314.9125,
 23314.0,
 27190.3125,
 23315.1375,
 23315.6125,
 23315.825,
 23315.0875,
 19014.175,
 27207.1,
 27210.8,
 27211.025,
 23319.1875,
 23319.7125,
 23320.9125,
 23321.6,
 23321.725,
 23321.075,
 23321.1,
 27223.075,
 23322.0,
 23323.1625,
 23324.45,
 23327.9375,
 23327.475,
 23327.5875,
 23328.925,
 23328.2875,
 23328.3375,
 23328.35,
 23328.4375,
 23328.4625,
 23328.05,
 23328.55,
 23328.225,
 10888.0625,
 23332.7125,
 23334.1125,
 23334.125,
 23334.3,
 23334.4375,
 23334.475,
 23335.7125,
 23335.1,
 23335.1375,
 23335.5625,
 23335.6,
 23336.0875,
 23335.625,
 23336.3625,
 23335.6875,
 23335.9375,
 23339.925,
 23339.4625,
 23339.4875,
 23339.65,
 23339.7125,
 23340.825,
 23340.075,
 23340.95,
 23340.6,
 23340.6625,
 23341.2375,
 23341.2875,
 23341.3125,
 23341.0375,
 23341.575,
 23342.65,
 23342.6,
 23341.6375,
 23341.7,
 23341.1625,
 23343.45,
 23342.6375,
 23343.8875,
 23343.85,
 23344.5625,
 23344.7,
 23344.875,
 23344.9375,
 23344.775,
 23345.1625,
 23345.225,
 23345.35,
 23345.4625,
 23345.025,
 23345.075,
 23345.15,
 23346.875,
 23346.8875,
 23346.9,
 23346.0875,
 23346.15,
 23349.8875,
 23349.9625,
 23349.675,
 23349.8375,
 23350.35,
 23350.475,
 23350.0125,
 23350.325,
 23350.45,
 23351.2875,
 23351.775,
 23351.7875,
 23350.6375,
 23351.325,
 23351.3875,
 23351.1,
 23351.1125,
 23351.1875,
 23351.2125,
 23353.6875,
 23353.5875,
 23354.5875,
 23354.9,
 23354.35,
 23354.7625,
 23354.725,
 23355.525,
 23355.5875,
 23355.1625,
 23355.2125,
 23355.9,
 23356.275,
 23356.975,
 23356.4625,
 23355.6,
 23355.1375,
 23357.3,
 23357.4,
 23357.1,
 23356.575,
 23356.525,
 23358.475,
 23357.2125,
 23358.7125,
 23357.1375,
 23357.35,
 23359.3375,
 23359.15,
 23359.475,
 23358.525,
 23358.7,
 23359.5875,
 23359.65,
 23359.7125,
 23359.2,
 23359.4625,
 23360.1625,
 23360.1875,
 23360.0375,
 23361.4625,
 23361.5125,
 23361.2,
 23361.225,
 23363.4625,
 23363.475,
 23368.15,
 19278.8625,
 23371.4375,
 23371.5125,
 23371.6875,
 23371.725,
 23371.9125,
 23372.6625,
 23372.7875,
 23372.85,
 23372.9,
 23372.2375,
 23373.6375,
 23373.5375,
 23373.6,
 23373.975,
 23372.4,
 23374.675,
 23374.85,
 23374.9125,
 23373.05,
 23374.1375,
 23375.925,
 23375.9375,
 23375.15,
 23375.2875,
 23377.9875,
 27534.8,
 23384.9125,
 23385.125,
 23386.4125,
 23386.6625,
 23386.675,
 23386.7875,
 23386.9625,
 23387.2,
 23387.825,
 23387.275,
 23387.85,
 23387.45,
 23388.7625,
 23388.5125,
 23387.55,
 23387.5625,
 23387.575,
 23389.5125,
 23388.0375,
 27560.65,
 23388.0875,
 23388.775,
 27564.625,
 23389.1625,
 23389.5875,
 23389.9625,
 23389.2875,
 23390.575,
 23390.65,
 23390.825,
 23390.1125,
 23390.275,
 23391.0625,
 23391.0875,
 23391.1125,
 23394.2625,
 23394.3125,
 23394.675,
 23395.6,
 23395.725,
 23395.7875,
 23395.975,
 23395.8375,
 23396.6,
 23395.0625,
 23396.6625,
 23396.975,
 23396.9625,
 23397.5875,
 23396.275,
 23396.7125,
 23397.7125,
 23396.3,
 23398.35,
 23398.7875,
 23398.4625,
 23398.9625,
 23397.075,
 23398.1625,
 23398.2875,
 23399.625,
 23399.6375,
 23399.65,
 23399.675,
 23399.7625,
 23400.05,
 23400.1,
 23400.3375,
 23400.4125,
 27626.4625,
 23400.5375,
 23400.55,
 23400.6,
 23402.225,
 23402.3125,
 23403.0125,
 23404.3125,
 23405.6875,
 27655.075,
 23407.725,
 23418.6375,
 23418.75,
 23418.85,
 23418.9875,
 23419.625,
 23419.7875,
 23419.8375,
 23419.95,
 19528.6,
 23420.6625,
 23420.7,
 23420.875,
 23420.9,
 23421.575,
 23422.975,
 23423.5375,
 23433.6375,
 23436.0125,
 19612.7375,
 23445.7375,
 23457.375,
 23458.4875,
 23458.725,
 23459.875,
 23460.325,
 23460.4375,
 23460.4625,
 23461.3125,
 23461.3875,
 23461.4125,
 23461.4625,
 23462.6375,
 23462.95,
 23579.4625,
 23463.275,
 23579.2375,
 27965.825,
 23564.9875,
 19798.525,
 19806.55,
 23479.6875,
 23479.925,
 23480.5875,
 23481.75,
 23482.6,
 23482.6375,
 23482.8875,
 23484.25,
 23484.5125,
 23484.525,
 23484.9,
 23485.225,
 23485.7375,
 19857.1625,
 23486.45,
 23486.4875,
 23486.55,
 23487.3,
 23488.2,
 23488.8625,
 23489.3125,
 23490.2,
 23491.3875,
 23491.425,
 23491.4375,
 23491.5875,
 23491.125,
 23492.175,
 23492.3375,
 23492.8125,
 23492.9,
 23492.775,
 23493.275,
 23493.375,
 23493.9375,
 23492.85,
 23493.0125,
 23494.1375,
 23494.3625,
 23495.3625,
 23495.6,
 23495.7125,
 23495.8375,
 23496.775,
 23496.0625,
 23496.1875,
 19921.425,
 19924.9125,
 23588.3,
 23513.675,
 23513.775,
 23513.9625,
 23514.3875,
 23514.4625,
 23514.725,
 23515.4125,
 23515.6625,
 23515.675,
 23515.725,
 23516.4875,
 23518.9375,
 23519.475,
 23519.375,
 23519.0125,
 23520.65,
 23397.1625,
 23397.975,
 23397.85,
 20036.525,
 23521.2875,
 23521.525,
 23521.7625,
 23520.0,
 23522.3,
 23522.8375,
 23522.05,
 23522.175,
 23523.4625,
 23523.7875,
 23523.9,
 23523.975,
 23523.1375,
 23524.125,
 23524.45,
 23524.6375,
 23524.7125,
 23524.025,
 28265.9625,
 23529.3875,
 23529.4375,
 23529.525,
 23529.9,
 23530.2375,
 23530.4875,
 23531.225,
 23532.4,
 23533.625,
 23534.95,
 23534.05,
 23535.025,
 23535.0625,
 23535.175,
 23535.4875,
 23535.5,
 23536.1125,
 23536.225,
 23536.475,
 23535.55,
 23536.95,
 23537.125,
 23537.4125,
 23537.45,
 23536.0125,
 23537.0625,
 23540.2,
 23540.275,
 23540.4,
 23541.25,
 23541.775,
 23541.0,
 23542.425,
 23542.6875,
 23542.7,
 23542.9375,
 23542.95,
 23543.075,
 23543.2,
 23543.225,
 23543.3125,
 23542.0625,
 23544.85,
 23544.0125,
 23543.9375,
 23545.1125,
 20158.65,
 23545.8,
 23545.8375,
 23545.525,
 23545.65,
 23550.6125,
 23551.4,
 23551.6875,
 23551.2,
 23551.2375,
 23552.9,
 23552.3875,
 23552.3125,
 23552.4375,
 23552.625,
 23553.5875,
 23553.3,
 23555.525,
 23555.5625,
 23555.5875,
 23555.6625,
 23556.075,
 23556.1375,
 23556.475,
 23556.5125,
 23556.9875,
 23556.0125,
 23557.875,
 23558.1,
 23558.45,
 23558.4625,
 23558.7,
 28418.35,
 23559.725,
 23558.275,
 23560.0375,
 23560.225,
 23560.2625,
 23560.5,
 23560.575,
 23561.6625,
 23561.6875,
 23561.7625,
 23561.45,
 23562.925,
 23562.125,
 23563.5375,
 23564.2875,
 23564.3375,
 23564.4375,
 28448.8375,
 23564.4625,
 23564.5125,
 23564.9,
 23564.975,
 23565.3625,
 23565.8875,
 23566.2875,
 23566.4375,
 23566.8625,
 23566.8875,
 23567.225,
 23567.425,
 23567.6375,
 23567.7125,
 23567.775,
 23568.15,
 23568.9125,
 23568.2875,
 28464.0625,
 23569.0,
 23569.3875,
 23569.175,
 23570.9875,
 23570.025,
 23570.7125,
 23571.6875,
 23572.925,
 23572.3375,
 23572.575,
 23573.6,
 23573.6625,
 20303.0375,
 23574.425,
 23575.9,
 23575.2375,
 23576.8125,
 23576.975,
 23576.0,
 20316.6,
 23577.9125,
 23577.0625,
 23577.3,
 23578.525,
 23578.7125,
 23578.9875,
 23578.2125,
 23578.3375,
 23579.9,
 23579.975,
 23579.5125,
 23579.5625,
 23579.7,
 20331.1125,
 23579.8625,
 20335.0625,
 23580.825,
 23580.4375,
 23581.575,
 23581.4,
 20342.025,
 23582.2,
 20342.75,
 23582.225,
 23582.7625,
 23582.8,
 23583.1125,
 23582.8125,
 23583.85,
 23584.9875,
 23584.925,
 23584.5125,
 23584.675,
 23584.3375,
 23585.55,
 23585.5625,
 23585.6375,
 23585.95,
 23586.95,
 23586.05,
 23586.45,
 23586.5625,
 23586.5875,
 23586.825,
 23586.9125,
 23586.9375,
 23587.2375,
 23588.5,
 23588.6125,
 23588.6875,
 23588.7,
 23588.725,
 23588.75,
 23588.775,
 23588.975,
 23589.7375,
 23589.7625,
 23590.3125,
 23590.325,
 23590.3875,
 23590.4875,
 23589.55,
 23591.25,
 23591.4875,
 23591.55,
 23591.575,
 23591.0875,
 20406.15,
 23595.95,
 23596.4625,
 23596.85,
 23596.925,
 23596.1625,
 23597.9625,
 20420.7375,
 23597.225,
 23597.5625,
 23598.425,
 20425.5125,
 23599.175,
 23599.3375,
 20431.0625,
 20432.6,
 20449.05,
 20449.35,
 20490.375,
 20543.0625,
 20574.1375,
 20611.85,
 23636.975,
 23637.1375,
 23637.3125,
 20631.375,
 23640.6875,
 23640.7125,
 23640.85,
 23641.3,
 23641.3625,
 23641.3875,
 23641.4625,
 23641.7125,
 23641.8375,
 23641.9125,
 23642.3875,
 23642.6875,
 23643.65,
 23643.2875,
 20654.9125,
 23644.8125,
 20680.775,
 23649.0875,
 23649.1125,
 23649.5375,
 23649.9625,
 23652.65,
 23654.7375,
 23655.2875,
 23655.3,
 23655.35,
 23655.425,
 23655.6625,
 20717.0375,
 23658.7875,
 23658.975,
 23659.025,
 23659.1125,
 23659.4125,
 23660.175,
 23660.875,
 23661.0625,
 23661.625,
 23662.05,
 23662.475,
 23662.6375,
 23663.1375,
 23663.725,
 23663.9625,
 23664.8375,
 23664.125,
 23665.425,
 20764.7375,
 23350.3125,
 23666.5125,
 20767.1625,
 23350.375,
 23350.8125,
 23350.9375,
 23667.2875,
 23668.575,
 23670.8375,
 23670.925,
 23671.975,
 23671.7,
 23671.9125,
 23671.925,
 23672.9875,
 23672.8,
 23675.0375,
 23675.625,
 23676.925,
 23676.1125,
 23676.3,
 23676.5125,
 23676.9,
 23677.9125,
 23677.1125,
 23677.15,
 23678.95,
 23678.825,
 23679.2625,
 23680.25,
 23681.2125,
 23681.2875,
 23681.3375,
 23682.625,
 23682.6125,
 23683.7625,
 23683.525,
 29049.525,
 23684.125,
 23684.3375,
 23685.9125,
 23685.3,
 23686.9875,
 23686.625,
 20869.4125,
 23687.5,
 23687.4875,
 23688.95,
 23689.1625,
 23689.4625,
 23690.375,
 23690.55,
 23690.95,
 23691.825,
 23691.175,
 23692.7875,
 23692.775,
 23693.5125,
 23693.45,
 23695.25,
 23695.325,
 23695.0625,
 23695.2375,
 23696.6125,
 23696.5625,
 23697.9625,
 23697.8375,
 23698.65,
 23698.2,
 23699.1375,
 20948.4875,
 23704.7375,
 23705.5,
 23705.7,
 20964.7375,
 23705.95,
 23706.175,
 23706.5875,
 23707.4,
 23707.8125,
 23708.7875,
 20981.175,
 23709.125,
 23709.4625,
 23710.9875,
 23711.75,
 23712.5375,
 23713.2375,
 23713.6625,
 23713.9125,
 21007.2125,
 23714.1125,
 23714.3625,
 23715.125,
 23715.175,
 23716.675,
 23717.5875,
 23718.75,
 23719.6875,
 23719.7625,
 23720.5,
 23721.125,
 23722.8375,
 23724.4625,
 23724.5625,
 21067.0875,
 23726.375,
 23726.3875,
 23727.725,
 23728.525,
 23728.2,
 23728.4,
 23730.9125,
 23732.7,
 23732.8,
 21103.4,
 23733.2875,
 23735.7375,
 23736.5125,
 23738.725,
 21143.5,
 23742.775,
 23743.2625,
 21157.225,
 23744.85,
 23744.925,
 23745.5125,
 23746.4125,
 23746.775,
 23746.8625,
 21173.0125,
 23747.7625,
 23749.1125,
 23750.45,
 23750.0875,
 23752.9,
 23752.3,
 23752.5125,
 23753.0625,
 23755.3375,
 21216.7375,
 21217.5375,
 23756.75,
 23758.7,
 21230.4125,
 23759.9625,
 23759.9875,
 23759.75,
 23761.125,
 23761.775,
 23762.425,
 21263.825,
 23354.1875,
 23765.2125,
 23354.5,
 23354.6875,
 23354.75,
 23766.975,
 23354.875,
 21271.3125,
 21271.325,
 23354.9375,
 23767.825,
 21278.2125,
 23768.925,
 23769.65,
 23769.9375,
 23769.975,
 23769.4625,
 23769.525,
 23770.0,
 23770.6375,
 21291.6,
 23771.8875,
 21300.825,
 21317.1875,
 4940.675,
 23355.375,
 23355.4375,
 23355.0625,
 23355.6875,
 23355.875,
 23355.9375,
 21416.6,
 21424.1125,
 21425.625,
 21428.15,
 21463.825,
 23356.0625,
 23356.25,
 23356.3125,
 23356.375,
 23356.5,
 23356.75,
 23356.8125,
 23356.875,
 21540.7625,
 21543.2625,
 21563.9875,
 21618.225,
 13426.4375,
 21624.95,
 21636.9125,
 21665.2875,
 21666.075,
 21668.8375,
 21678.625,
 21685.2,
 21688.475,
 21690.5125,
 21697.3125,
 23396.0125,
 21701.9,
 21701.975,
 23334.6375,
 21776.8875,
 21777.1875,
 21777.7,
 23334.65,
 ...}

In [115]:
ohe1_f = ohe1_[~ohe1_['ID'].isin(set_difference1)]
ohe2_f = ohe2_[~ohe2_['ID'].isin(set_difference2)]

In [116]:
len(ohe2_f)

11428

In [117]:
# get all courses name from each year
row_t1 = data_1['Descr'].value_counts().index
row_t2 = data_2['Descr'].value_counts().index
row_t3 = data_3['Descr'].value_counts().index
row_t4 = data_4['Descr'].value_counts().index

In [118]:
# set students' ID as index, instead of a default number.
ohe1t_1 = ohe1_f.set_index(ohe1_f.columns[0])
ohe2t_1 = ohe2_f.set_index(ohe2_f.columns[0])
# ohe2tf_1 = ohe2f_.set_index(ohe1_.columns[0])
# ohe3t_1 = ohe3_.set_index(ohe1_.columns[0])
# ohe4tf_1 = ohe4f_.set_index(ohe1_.columns[0])

In [119]:
transt1_2 = ohe1t_1.T.dot(ohe2t_1)
transt1_2_sub = transt1_2.loc[row_t1]
transt1_2m = transt1_2_sub[row_t2]
row_sum = transt1_2m.sum(axis=1).to_frame()
transt1_2mc = transt1_2m.div(transt1_2m.sum(axis=1), axis=0)

In [120]:
transt1_2mc_r = transt1_2mc.reset_index()
transt1_2mc_m = pd.melt(transt1_2mc_r, 
            id_vars='index', 
            value_vars=list(transt1_2mc_r.columns[1:]), # list of days of the week
            var_name='post_class', 
            value_name='prob')
trans1_2 = transt1_2mc_m[transt1_2mc_m['prob']>0.1]

In [122]:
trans1_2.to_csv('all_class1to2.csv')