In [6]:
import pandas as pd


econ = pd.read_csv('~/registrar-recommender/00_data/2013-2020/econ.csv')
econ = econ[econ['Class Year Number'] != 0]
df = econ.groupby('Descr').filter(lambda x : len(x)>100)

In [10]:
df = df[['Calculation ID', 'Descr', 'Class Year Number']]
df.head()

    Calculation ID                           Descr  Class Year Number
5       15839.4125    SELECTED TOPICS IN ECONOMICS                2.0
6       15839.4125               CORPORATE FINANCE                1.0
7       15839.4125  FINANCIAL MRKT AND INVESTMENTS                3.0
13      19857.1625        ECON OF ENTREPRENEURSHIP                1.0
14      19857.1625    HISTORY INT FIN & MON CRISES                1.0

In [11]:
# subset for semester 
a = 2
b = 3

s1 = df[df['Class Year Number'] == a]
s2 = df[df['Class Year Number'] == b]

# merge on calculation id 
s1_s2 = s1.merge(s2, on = ['Calculation ID'], how = 'outer', suffixes = [f'_s{a}', f'_s{b}'])

# can drop class years because we know which classes go with which semester
s1_s2.drop(columns = [f'Class Year Number_s{a}', f'Class Year Number_s{b}'], inplace = True)

s1_s2.sample(5)

      Calculation ID               Descr_s2                       Descr_s3
4000      27199.8750       ACADEMIC WRITING  INTERMEDIATE MICROECONOMICS I
6164      28766.6875  LABORATORY CALCULUS I         PROBABILITY/STAT INFER
3452      26780.7875   INTERMEDIATE SPANISH     MULTIVAR CALCULUS FOR ECON
2195      25997.0375  LABORATORY CALCULUS I           FINANCIAL ACCOUNTING
5344      28010.9500       ACADEMIC WRITING           FINANCIAL ACCOUNTING

In [12]:
# drop all rows with nan because those students didn't transition from top 10 class sem 1 to top 10 class sem 2
s1_s2 = s1_s2.dropna(axis = 0, how = 'any')
print(f's1_s2 shape: {s1_s2.shape}')
print(f'num students: {s1_s2["Calculation ID"].nunique()}')
s1_s2.sample(5)

s1_s2 shape: (6364, 3)
num students: 1103

,Calculation ID,Descr_s2,Descr_s3
1060,24791.3250,INTERMEDIATE MICROECONOMICS I,SPECIAL TOPICS
4682,27687.0125,MULTIVAR CALCULUS FOR ECON,INTERMEDIATE MICROECONOMICS II
2680,26403.6500,ECONOMIC PRINCIPLES,SPECIAL TOPICS
3769,27152.3500,INTRO TO COMPUTER SCIENCE,ADV INTERMEDIATE SPANISH
1172,25083.8750,INTERMEDIATE MICROECONOMICS II,INTRO TO COMPUTER SCIENCE

In [13]:
# checking for students who went from same class to same class 
s1_s2[s1_s2[f'Descr_s{a}'] == s1_s2[f'Descr_s{b}']]

,Calculation ID,Descr_s2,Descr_s3
200,23639.9375,HONORS SEMINAR II,HONORS SEMINAR II
296,24025.3625,RESEARCH INDEPENDENT STUDY,RESEARCH INDEPENDENT STUDY
419,24073.8750,RESEARCH INDEPENDENT STUDY,RESEARCH INDEPENDENT STUDY
495,24197.2500,SPECIAL TOPICS,SPECIAL TOPICS
673,24370.7750,INTERMEDIATE MICROECONOMICS II,INTERMEDIATE MICROECONOMICS II
923,24742.8125,SELECTED TOPICS IN ECONOMICS,SELECTED TOPICS IN ECONOMICS
3506,26836.3500,ACADEMIC WRITING,ACADEMIC WRITING
4503,27554.8750,RESEARCH INDEPENDENT STUDY,RESEARCH INDEPENDENT STUDY
4821,27938.7000,MULTIVARIABLE CALCULUS,MULTIVARIABLE CALCULUS
5767,28396.0375,RESEARCH INDEPENDENT STUDY,RESEARCH INDEPENDENT STUDY
6447,28946.4625,RESEARCH INDEPENDENT STUDY,RESEARCH INDEPENDENT STUDY
6617,29046.7000,SELECTED TOPICS,SELECTED TOPICS
6737,29187.5500,MULTIVAR CALCULUS FOR ECON,MULTIVAR CALCULUS FOR ECON

In [3]:
import networkx as nx
G=nx.from_pandas_edgelist(data, 'index', 'post_class', ['prob'],create_using=nx.DiGraph())

NetworkXError: Invalid edge_attr argument: ['prob']

In [27]:
from stellargraph import datasets

dataset = datasets.Cora()

In [30]:
from IPython.display import display, HTML

display(HTML(dataset.description))

In [31]:
dataset.load(largest_connected_component_only=True)

(<stellargraph.core.graph.StellarGraph at 0x1a39fbc2b0>,
 31336             Neural_Networks
 1061127             Rule_Learning
 1106406    Reinforcement_Learning
 13195      Reinforcement_Learning
 37879       Probabilistic_Methods
                     ...
 1128975        Genetic_Algorithms
 1128977        Genetic_Algorithms
 1128978        Genetic_Algorithms
 117328                 Case_Based
 24043             Neural_Networks
 Name: subject, Length: 2485, dtype: object)

In [32]:
dataset.load